    body{
        color:white;
        background-color:#fab4b6;
    }

    header {
        color:white
    }

    h2{
        color:white;;
    }

    section {
        color:pink
        background:
    }